body {
    background-color: beige;
    margin: 0;
}

title {
    justify-content: center;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4a5c50;
    text-decoration: underline;
    line-height: 30px;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5d7264ea;
    font-size: 16px;
    line-height: 20px;
}

h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffffea;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
}

ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

ul li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 0px;
    color: #516150;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

nav ul li {
    margin: 0;
    padding: 0px;
    flex-grow: 4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #516150;
}

nav ul li a {
    display: block;
    padding: 10px 0px;
    margin: 5px;
    text-align: center;
    background-color: #ffffff69;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:link, nav ul li a:visited {
    color: black;
  }

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color: #fff;
  }

header {
    color: white;
    background-color: #4a5c50;
    padding: 1px 10px 20px 10px;
}

article {
    padding: 10px 20px 20px 10px;
    margin-left: 20px;
}

section p {
    line-height: 20px;
    font-size: 16px;
}

.main {
    display: flex;
    justify-content: center;
}

.back {
    display: flex;
    justify-content:space-around;
    text-decoration: underline;
}

.log {
    display: flex;
    justify-content:right;
    margin-right: 20px;
}

.log a {
    color: white;
}

.sections {
    display: flex;
    flex-direction: row;
}

.sections article {
    padding: 10px 20px;
    margin: 5px;
    flex-grow: 3;
}

.row aside {
    padding: 10px 10px;
    margin: 5px;
}

.catalog {
    background-color:#ebebc1;
    padding: 1px 10px 20px 10px;
    margin: 10px;
}

.catalog h3 {
   font-size: 14px;
}

.catalogs {
    display: flex;
    flex-direction: column;
}

.cutleaf_weeping_birch {
    background-color:#ebebc1;
    padding: 1px 10px 20px 10px;
    margin: 10px;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.add-form {
    display: flex;
    flex-direction: row;
}

.button1 {
    display:inline-block;
    padding:5px 5px;
    border: 1px solid black;
    margin:0 5px 5px 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#384736;
    text-align:center;
}

.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
}

.column form {
    display: flex;
    flex-direction: column;
    width: 200px;
}

form * {
    margin-bottom: 2px;
    margin: 1px;
}

.form * {
    margin-bottom: 2px;
    margin: 1px;
}

form label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-display {
    display: flex;
    flex-direction: row;
}

.label_input {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 8px;
}

.forms .label_input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forms label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    background-color:#f0f0d4d3;
    padding: 10px 10px 20px 10px;
}

.align_right {
    display: flex;
    justify-content:flex-end;
  }

.feedback {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #b42727;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row h3 {
    font-size: 15px;
}

.hidden {
    display: none;
  }

.plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.plants .row {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.plant, .detail {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

.plant h2 {
    font-size: 18px;
}

.plant h3 {
    line-height: 0px;
    padding: 30px;
    margin: 15px;
    margin-inline-start: 10px;
}

img {
    /* width: 80%; */
    padding: 10px;
    margin: 15px;
}

.tags {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tags label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #010101ea;
    font-size: 16px;
    line-height: 20px;
}

.titles {
    padding: 15px;
}

.filter {
    width: 220px;
    padding: 15px;
}

.sort {
    width: 220px;
    padding: 15px;
}

.select {
    position: relative;
}

.select select {
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: #fcfcfc;
}

.choices {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    /* margin: 2px 2px; */
}

.style {
    background-color: #516150;
    width: 100%;
}

.buttons .style {
    width: 100%;
}

.home-tag {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 20px 15px;
    background-color: #516150;
    width: 30%;
}

.style:hover {
    background-color: #9daa9c;
}

.detail button {
    margin-left: 50px;
}


/* mobile version */
@media screen and (max-width: 600px) {
    .body-display {
        display: flex;
        flex-direction: column;
    }

    .sections {
        display: flex;
        flex-direction: column;
    }

    .plants {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin-bottom: 20px;
        margin-left: 20px; */
    }

    .plant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plant img {
        width: 90%;
    }

    .add-form {
        display: flex;
        flex-direction: column;
    }

    .row {
        flex-direction: column;
    }

    .column h2 {
        font-size: 16px;
    }

    .column h3 {
        font-size: 14px;
    }

    .column p {
        font-size: 12px;
    }

    .mobile-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .mobile-column {
        display: flex;
        flex-direction: column;
    }

    .mobile-wrap {
        display: flex;
        flex-wrap: wrap;
    }
  }
