body {
    background-color: beige;
    margin: 0;
}

title {
    justify-content: center;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4a5c50;
    text-decoration: underline;
    line-height: 30px;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5d7264ea;
    font-size: 16px;
    line-height: 20px;
}

ul {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

ul li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 0px;
    color: #516150;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

nav ul li {
    margin: 0;
    padding: 0px;
    flex-grow: 4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #516150;
}

nav ul li a {
    display: block;
    padding: 10px 0px;
    margin: 5px;
    text-align: center;
    background-color: #ffffff69;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:link, nav ul li a:visited {
    color: black;
  }

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color: #fff;
  }

header {
    color: white;
    background-color: #4a5c50;
    padding: 1px 10px 20px 10px;
}

article {
    padding: 10px 20px 20px 10px;
    margin-left: 20px;
}

section p {
    line-height: 20px;
    font-size: 16px;
}

.main {
    display: flex;
    justify-content: center;
}

.sections {
    display: flex;
    flex-direction: row;
}

.sections article {
    padding: 10px 20px;
    margin: 5px;
    flex-grow: 3;
}

.sections aside {
    padding: 10px 10px;
    margin: 5px;
    flex-grow: 1;
}

.catalog {
    background-color:#ebebc1;
    padding: 1px 10px 20px 10px;
    margin: 10px;
}

.catalogs {
    display: flex;
    flex-direction: column;
}

.cutleaf_weeping_birch {
    background-color:#ebebc1;
    padding: 1px 10px 20px 10px;
    margin: 10px;
}

form {
    display: inline-block;
}

form * {
    margin-bottom: 2px;
    margin: 1px;
}

form label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body {
    display: flex;
    flex-direction: row;
}

.label_input {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 8px;
}

.forms .label_input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    background-color:#f0f0d4d3;
    padding: 10px 10px 20px 10px;
}

.align_right {
    display: flex;
    justify-content:flex-end;
  }

.feedback {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #b42727;
}

.hidden {
    display: none;
  }

.plants {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.plant, .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.plant h3 {
    line-height: 0px;
    padding: 20px;
    margin: 15px;
}

img {
    /* width: 80%; */
    padding: 10px;
    margin: 15px;
}

.filters {
    display: flex;
    flex-direction: row;
}

.titles {
    padding: 15px;
}

.filter {
    width: 220px;
    padding: 15px;
}

.sort {
    width: 220px;
    padding: 15px;
}

.select {
    position: relative;
}

.select select {
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: #fcfcfc;
}

.choices {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

#checkboxes label:hover {
    background-color: #a6af9c;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 4px 2px;
}

.style {
    background-color: #516150;
}

.style:hover {
    background-color: #9daa9c;
}

.detail button {
    margin-left: 50px;
}
